<footer>
  <div class="foot">
    <div>
      <p>Mapa del sitio</p>
        <ul>
            <li><a href="/index/">Inicio</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/perfil/">Perfil</a></li>
        </ul>
      </div>
      <div>
        <p>Redes sociales</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/michellz/">LinkedIn</a></li>
            <li><a href="https://twitter.com/mzipi">Twitter</a></li>
            <li><a href="https://github.com/mzipi">GitHub</a></li>
            <li><a href="https://www.behance.net/michellzipitra1">Behance</a></li>
        </ul>
      </div>
    </div>
</footer>
